@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Add this CSS to your Tailwind CSS file or style tag */

@keyframes lds-ellipsis {
	0% {
		transform: scale(0.6);
	}
	100% {
		transform: scale(1);
	}
}
.lds-ellipsis div {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: auto;
	margin: auto;
	top: -50;
	left: -50;

	width: 0.25rem;
	height: 0.25rem;
	border-radius: 100%;
	background: #c9c9c9;

	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	top: 50;
	left: 0;
	display: none;
	animation: lds-ellipsis 0.9s infinite ease-in-out;
	animation-delay: -0.4s;
}

.lds-ellipsis div:nth-child(2) {
	top: 50;
	left: 8px;

	animation: lds-ellipsis 0.9s infinite ease-in-out;
	animation-delay: -0.3s;
}
.lds-ellipsis div:nth-child(3) {
	top: 50;
	left: 16px;

	animation: lds-ellipsis 0.9s infinite ease-in-out;
	animation-delay: -0.2s;
}
.lds-ellipsis div:nth-child(4) {
	top: 50;
	left: 24px;
	animation: lds-ellipsis 0.9s infinite ease-in-out;
	animation-delay: -0.1s;
}
